<% layout('layout/master.ejs') -%>
<div class="main">
	<div class="chat">
		<div class="container">
			<div class="title">
				<p>ChatRoom</p>
			</div>
			<div class="roomchat"> 
				
			</div>
			<div class="send-message">
				<input type="text" id="message" value="">
				<button class="btn btn-success" id="btn-send">Send</button>
			</div>		
		</div>
	</div>
</div>