body {
  color: #010101;
  background-color: #00000;
  font-size: 14px;
}
body i {
  cursor: pointer;
}
body header {
  background: #000000;
  max-height: 133px;
  border-bottom: 1px solid #707070;
  color: #ffffff;
}
body header .product_link {
  cursor: pointer;
}
body header a {
  text-decoration: none;
  color: #ffffff;
}
body header a:hover {
  color: #ffffff;
  text-decoration: none;
}
body header #container-header {
  height: 100%;
}
body header .header {
  display: flex;
  height: 100%;
}
body header .header .left-header {
  padding-top: 25px;
}
body header .header .left-header i {
  font-size: 18px;
}
body header .header .left-header .left-header-bottom {
  padding-top: 35px;
}
body header .header .left-header .left-header-top {
  display: -webkit-inline-box;
}
body header .header .left-header form {
  padding-left: 10px;
  display: flex;
  height: 25px;
}
body header .header .left-header form button {
  background: black;
  color: white;
  border: black;
  cursor: pointer;
  height: 10px;
}
body header .header .left-header form input {
  border-radius: 0px;
  height: 87%;
}
body header .header .left-header input {
  background: black;
  border-width: 0 0 1px 0;
  border-bottom: solid 1px #ffffff;
  box-shadow: none;
  color: #b5b4b4;
  font-family: "Segoe UI";
  font-size: 12px;
  font-style: italic;
  position: relative;
  bottom: 3px;
  left: 3px;
  outline: none;
}
body header .header .between-header {
  flex-grow: 1;
}
body header .header .between-header .between-header-name {
  font-family: "Monotype Corsiva";
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  position: relative;
  top: 19px;
  font-weight: 400;
}
body header .header .between-header .nav-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 42px;
  text-transform: uppercase;
}
body header .header .between-header ul {
  margin: 0 auto;
}
body header .header .between-header li {
  padding: 8px 17px 5px 17px;
}
body header .header .between-header li a {
  font-size: 13px !important;
}
body header .header .right-header {
  padding-top: 32px;
}
body header .header .right-header .right-header-top {
  float: right;
}
body header .header .right-header .right-header-top i {
  font-size: 18px;
}
body header .header .right-header .right-header-bottom {
  padding-top: 34px;
  clear: both;
}
body header .header .right-header #icon-world {
  padding-left: 10px;
}
body header .main-nav-menu {
  position: absolute;
  z-index: 99999;
  background: #fff;
  width: 100%;
  max-width: 100%;
  height: 100%;
  left: 0;
  top: 60px;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 100px;
}
body header .main-nav-menu .login-resister {
  display: flex;
  margin-top: 16px;
}
body header .main-nav-menu .login-resister button {
  background: #fff;
  width: 100%;
  border: 1px solid #30333a;
}
body header .main-nav-menu .menu-item ul {
  margin: 0px;
  padding: 0px;
}
body header .main-nav-menu .menu-item ul li {
  border-bottom: 1px solid rgba(48, 51, 58, 0.1);
}
body header .main-nav-menu .menu-item ul li i {
  color: black;
  float: right;
  position: relative;
  top: 17px;
  right: 4px;
}
body header .main-nav-menu .menu-item ul li ul {
  display: none;
  color: black;
  padding-left: 25px;
  list-style: none;
  line-height: 50px;
  font-size: 16px;
  background: #f3f4f7;
}
body header .main-nav-menu .menu-item ul li ul li {
  border: none;
}
body header .main-nav-menu .menu-item ul li ul li a {
  margin: 0px;
}
body header .main-nav-menu .menu-item ul li ul li i {
  right: 20px;
}
body header .main-nav-menu .menu-item ul li ul li ul {
  display: none;
}
body header .main-nav-menu .menu-item ul a {
  display: block;
  margin: 0 18px;
  height: 50px;
  line-height: 50px;
  text-align: left;
  color: #30333a;
}
body header .main-nav-menu .menu-item ul a span {
  color: black;
}
body header .main-nav-menu .menu-item ul #hotline {
  color: #000000;
  padding: 17px;
}
body header .nav-down {
  position: absolute;
  top: 133px;
  left: 13%;
  width: 74%;
  z-index: 999;
}
body header .nav-down .nav-down-sp {
  display: none;
  width: 100%;
  background: white;
  margin: 0 auto;
}
body header .nav-down .nav-down-sp .nav-item {
  padding-top: 24px;
}
body header .nav-down .nav-down-sp .nav-item .menu-item {
  min-height: 340px;
  border-bottom: 1px solid #c7c7c7;
}
body header .nav-down .nav-down-sp .nav-item .title {
  color: #292828;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
}
body header .nav-down .nav-down-sp .nav-item ul {
  padding: 0px;
}
body header .nav-down .nav-down-sp .nav-item ul li {
  list-style: none;
  color: #292828;
  font-family: "Segoe UI";
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}
body header .nav-down .nav-down-sp .nav-item .hightlights-menu-item {
  display: flex;
  margin-top: 14px;
}
body header .nav-down .nav-down-sp .nav-item .hightlights-menu-item ul {
  color: #3d3d3d;
  font-family: "Segoe UI";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
body header .nav-down .nav-down-sp .nav-item .hightlights-menu-item ul:nth-child(1) {
  width: 100%;
}
body header .nav-down .nav-down-sp .nav-item .hightlights-menu-item ul:nth-child(2) {
  width: 100%;
  text-align: center;
}
body header .nav-down .nav-down-sp .nav-item .hightlights-menu-item ul:nth-child(3) {
  width: 100%;
  text-align: right;
}
body header .nav-down .event {
  border-left: 1px solid #cccccc;
  margin-bottom: 14px;
}
body header .nav-down .event .festival-merry {
  text-align: center;
}
body header .nav-down .event .festival-merry img {
  width: 100%;
}
body header .nav-down .event .festival-merry .tag_merry {
  margin-top: 13px;
}
body header .nav-down a {
  color: black;
}
@media screen and (min-width: 992px) {
  body header #menu-down {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  body header .header .left-header form {
    display: none;
  }
}
@media screen and (max-width: 442px) {
  body header .header .left-header .left-header-bottom {
    display: none;
  }
  body header .header .right-header .right-header-bottom {
    display: none;
  }
}

/*footer*/
footer {
  color: #fff;
  height: 392px;
}
footer a {
  color: #f0f0f0;
}
footer a:hover {
  color: #2980b9;
  text-decoration: none;
}
footer .footer-register-letter {
  background: #000000;
  min-height: 152px;
}
footer .footer-register-letter .container {
  padding-top: 37px;
}
footer .footer-register-letter #register-letter-title {
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 600;
}
footer .footer-register-letter #register-letter-content {
  font-family: "Segoe UI";
  font-size: 14px;
  font-style: italic;
}
footer .footer-register-letter form {
  padding-top: 39px;
  display: flex;
}
footer .footer-register-letter .form-search {
  border-radius: 0px;
  height: 80%;
  width: 73%;
  color: white;
  background: black;
  box-shadow: none;
  border-width: 0 0 1px 0;
  border-bottom: solid 1px #ffffff;
  padding-top: 6px;
  outline: none;
}
footer .footer-register-letter button {
  background: black;
  color: white;
  border: solid 1px white;
  margin-left: 10px;
  cursor: pointer;
}
footer .footer-main {
  background: #323232;;
}
footer .footer-main .footer-main-top {
  display: flex;
  padding-top: 37px;
  max-width: 1140px;
  margin: 0 auto;
  /*padding-left: 10px;*/
}
footer .footer-main .item {
  width: 100%;
}
footer .footer-main .item .footer-item {
  display: flex;
}
footer .footer-main .item .text-uppercase {
  font-family: "Segoe UI - Bold";
  font-weight: 700;
  font-size: 13px;
  width: 97%;
  float: left;
}
footer .footer-main .item .list-unstyled {
  font-family: "Segoe UI";
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
}
footer .footer-main .item #item-final {
  float: right;
  width: 62%;
  min-width: 163px;
}
footer .footer-main .item .fa-chevron-down {
  display: none;
}
footer .footer-main i {
  font-size: 18px;
}
footer .footer-main .footer-main-bottom {
  display: flex;
  padding: 68px 0px 20px 0px;
}
footer .footer-main .footer-main-bottom #footer-text-copyright {
  text-align: right;
}

@media screen and (max-width: 432px) {
  footer .footer-main .item .text-uppercase {
    width: 94% !important;
  }
}
@media screen and (max-width: 564px) {
  footer .footer-main .item .text-uppercase {
    width: 96%;
  }
}
@media screen and (max-width: 767px) {
  footer .footer-register-letter .container p {
    text-align: center;
  }
  footer .footer-register-letter form {
    padding-top: 0px !important;
    padding-bottom: 23px;
  }
}
@media screen and (max-width: 992px) {
  footer .footer-register-letter form {
    padding-bottom: 23px;
  }
  footer .footer-register-letter input {
    width: 100% !important;
  }
  footer .footer-main .container {
    max-width: none;
  }
  footer .footer-main .footer-main-top {
    flex-direction: column;
    padding-top: 6px;
  }
  footer .footer-main .footer-main-top .item {
    width: 98% !important;
    margin: 0 auto;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    padding-top: 13px;
  }
  footer .footer-main .footer-main-top .item ul {
    display: none;
    clear: both;
  }
  footer .footer-main .footer-main-top .item i {
    display: block;
  }
  footer .footer-main .footer-main-top .item:nth-child(1) {
    border: none;
  }
  footer .footer-main .footer-main-top #item-final {
    float: none;
    width: 100%;
  }
  footer .footer-main .footer-main-bottom {
    flex-direction: column;
    padding: 20px 0px 20px 0px;
  }
  footer .footer-main .footer-main-bottom #footer-text-copyright {
    text-align: center;
  }
  footer .footer-main .footer-main-bottom #footer-icon-social {
    text-align: center;
  }
}

/*home*/
.brand-story img {
  width: 100%;
}
.brand-story .container #image-page-first {
  padding-top: 25px;
}
.brand-story .container .content-page {
  padding-top: 40px;
}
.brand-story .container .content-page p {
  color: #292828;
  font-family: "Segoe UI";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.brand-story .container #content-page-first {
  margin-bottom: 25px;
}
.brand-story .container #content-page-second {
  margin-bottom: 40px;
}

/*login*/
.main .login {
  color: #000000;
  background: url("../images/background-page-register.jpg") no-repeat center;
  background-size: cover;
}
.main .login .container {
  padding: 73px 0px 48px 0px;
}
.main .login h2 {
  text-align: center;
  color: #21201e;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}
.main .login label {
  color: #010101;
  font-family: "Segoe UI";
  font-size: 15px;
  font-weight: 600;
  line-height: 40px;
}
.main .login .form-group {
  margin: 0px;
}
.main .login .form-control {
  border-radius: 0;
  border-color: #ccc;
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  /*      box-shadow: none; */
}
.main .login .form-control:focus {
  box-shadow: none;
  border-color: #5e9bfc;
}
.main .login #require-password {
  color: #919090;
  font-family: "Segoe UI";
  font-size: 13px;
  font-style: italic;
  line-height: 40px;
}
.main .login .form-login {
  background: #ffffff;
  padding: 39px;
  width: 82%;
  margin: 0 auto;
}
.main .login #submit-register {
  padding-top: 60px;
}
.main .login #submit-register button {
  background: #c51f1f;
  border: none;
  width: 94%;
  margin: 0 auto;
}
.main .login #forget-password {
  text-align: center;
}
.main .login #forget-password a {
  color: #919090;
  font-family: "Segoe UI";
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
}
.main .login #continue-login span {
  color: #010101;
  font-family: "Segoe UI";
  font-size: 15px;
  font-style: italic;
  line-height: 40px;
}
.main .login .login-social {
  padding: 34px 0px 0px 0px;
  display: flex;
  width: 94%;
  margin: 0 auto;
}
.main .login .login-social .btn-social {
  height: 34px;
  width: 48%;
  cursor: pointer;
}
.main .login .login-social #login-facebook {
  border: 1px solid #1f72c5;
  background-color: #1f72c5;
  color: white;
}
.main .login .login-social #login-google {
  border: 1px solid #c51f1f;
  background-color: #c51f1f;
  color: white;
  margin-left: 13px;
}
.main .login .link-register {
  text-align: center;
  padding-top: 49px;
}
.main .login .link-register p {
  color: #707070;
  font-family: "Segoe UI";
  font-size: 15px;
  font-weight: 400;
}
.main .login .link-register a {
  font-family: "Segoe UI";
  font-weight: 600;
  color: #707070;
  text-decoration: none;
}
@media screen and (max-width: 576px) {
  .main .login .row {
    margin-right: 0px;
  }
  .main .login .form-login {
    padding: 26px;
  }
  .main .login .form-group input {
    height: 20px;
  }
  .main .login #require-password {
    font-size: 11px;
  }
  .main .login #submit-register {
    padding-top: 27px;
  }
  .main .login .link-register {
    padding-top: 25px;
  }
  .main .login p {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .main .login .form-login {
    width: 75%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1198px) {
  .main .login .form-login {
    width: 95%;
  }
}
/*}register*/
.main .register {
  color: #000000;
  background: url("../images/background-page-register.jpg") no-repeat center;
  background-size: cover;
}
.main .register .container {
  padding: 68px 0px 88px 0px;
}
.main .register h2 {
  text-align: center;
  color: #21201e;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}
.main .register label {
  color: #010101;
  font-family: "Segoe UI";
  font-size: 15px;
  font-weight: 600;
  line-height: 40px;
}
.main .register .form-group {
  margin: 0px;
}
.main .register .form-control {
  border-radius: 0;
  border-color: #ccc;
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  /*      box-shadow: none; */
}
.main .register .form-control:focus {
  box-shadow: none;
  border-color: #5e9bfc;
}
.main .register #require-password {
  color: #919090;
  font-family: "Segoe UI";
  font-size: 13px;
  font-style: italic;
  line-height: 40px;
}
.main .register .form-register {
  background: #ffffff;
  padding: 39px;
  width: 78%;
  margin: 0 auto;
}
.main .register #submit-register {
  padding-top: 60px;
}
.main .register button {
  background: #c51f1f;
  border: none;
  width: 80%;
  margin: 0 auto;
}
.main .register .link-login {
  text-align: center;
  padding-top: 49px;
}
.main .register .link-login p {
  color: #707070;
  font-family: "Segoe UI";
  font-size: 15px;
  font-weight: 400;
}
.main .register .link-login a {
  font-family: "Segoe UI";
  font-weight: 600;
  color: #707070;
  text-decoration: none;
}
@media screen and (max-width: 442px) {
  .main .register .form-register {
    padding: 25px;
  }
  .main .register input {
    height: 20px;
  }
  .main .register #require-password {
    margin-bottom: 0px;
    font-size: 11px;
  }
  .main .register #submit-register {
    padding-top: 36px;
  }
  .main .register .link-login {
    padding-top: 29px;
  }
}
@media screen and (max-width: 576px) {
  .main .register .row {
    margin-right: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .main .register .form-register {
    width: 75%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1198px) {
  .main .register .form-register {
    width: 95%;
  }
}

/*posts*/
.main .posts .title p {
  padding-top: 25px;
  margin-bottom: 23px;
}
.main .posts .title {
  font-family: "Monotype Corsiva";
  text-align: center;
  color: #000;
  font-size: 35px;
  font-weight: 400;
  border-bottom: solid 1px #000;
  padding-bottom: 10px;
}
.main .posts .content table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.main .posts .content table{
  margin-bottom: 40px;
}

/*chat*/
.main .chat .title p{
  font-family: "Monotype Corsiva";
  text-align: center;
  color: #000000;
  font-size: 25px;
  padding-top: 20px;
  font-weight: 400;
  margin-bottom: 0px;
}
.main .chat .roomchat{
  border: solid 1px #000;
  height: 300px;
  margin: 28px 0px 0px 0px;
  overflow: scroll;
}
.main .chat .send-message{
  display: flex;
  margin-bottom: 24px;
}
.main .chat .send-message input{
  width: 100%;
}