<% layout('../layout/master.ejs') -%>
<div class="main">
	<div class="posts">
		<div class="container">
			<div class="title">
				<p>Blog-Bigbang</p>
			</div>
			<div class="content" style="padding-top: 50px">
				<form method="post" action="/createpost">
					<div>
						<label for="">Title</label>
						<input type="text" class="form-control" placeholder="title" name="title">
					</div>
					<div>
						<label for="">Content</label>
						<textarea class="form-control" placeholder="content" name="body"></textarea>
					</div>
					<div style="text-align: center;padding: 20px 0px">
						<input class="btn btn-success" type="submit"></input>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>