<% layout('../layout/master.ejs') -%>
<div class="main">
	<div class="posts">
		<div class="container">
			<div class="title">
				<p>Blog-Bigbang</p>
			</div>
			<div class="content" style="padding-top: 50px">
				<div>
					<input type="text" value="<%= data[0].id%>" style = "display: none;" id = "id">
				</div>
				<div>
					<label for="">Title</label>
					<input type="text" class="form-control" placeholder="title" name="title" value="<%= data[0].title%>" id = "title">
				</div>
				<div>
					<label for="">Content</label>
					<textarea class="form-control" placeholder="content" name="body" value=""><%= data[0].body%></textarea>
				</div>
				<div style="text-align: center;padding: 20px 0px">
					<button class="btn btn-success" id="submit">Gửi</button>
				</div>
			</div>
		</div>
	</div>
</div>
