
<% layout('../layout/master.ejs') -%>
<div class="main">
    <div class="login">
    	<div class="container">
	    	<div class="row">
	    		<div class="col-xs-6 col-sm-12 col-md-10 col-lg-6 offset-lg-3 offset-md-1">
		    		<div class="form-login">
		    			<h2>Đăng Nhập</h2>
		    			<form id="contact-form" class="form" action="#" method="POST" role="form">
			                <div class="form-group">
			                    <label class="form-label" for="name">Tài Khoản Email</label>
			                    <input type="text" class="form-control" id="email" name="email" tabindex="1" >
			                    <div class="alert alert-danger" style="<%if (!data.error) {%> display: none <%}%>"><%= data.error %></div>
			                </div>                            
			                <div class="form-group">
			                    <label class="form-label" for="email">Mật Khẩu</label>
			                    <input type="password" class="form-control" id="password" name="password" tabindex="2" >
			                    <p id="require-password">Mật khẩu phải chứa từ 6 - 12 ký tự</p>
			                    <div class="alert alert-danger" style="<%if (!data.pw) {%> display: none <%}%>"><%= data.pw %></div>
			                </div>
			                <div id="forget-password">
			                	<p><a href="">Quên Mật Khẩu?</a></p>
			                </div>
			                <div id="continue-login">
							  	<input type="checkbox" name="continue-login"><span> Vẫn Tiếp Tục Đăng Nhập?</span>
							</div>                            
			                <div class="form-group" id="submit-register">
			                    <button type="submit" class="btn btn-primary btn-block">Đăng Nhập</button>
			                </div>
			                <div class="login-social">
				               	<button class="btn-social" id="login-facebook">Facebook</button>
				                <button class="btn-social" id="login-google">Google</button>
			                </div>
			                <div class="link-register">
			              	    <p>Chưa Có Tài Khoản? <a href="{{getenv('APP_URL').'/register'}}">Đăng Ký Ngay</a></p>
			                </div>
					    </form>
		    		</div>
	    		</div>
	    	</div>
		</div>
    </div>
</div>

