<% layout('../layout/master.ejs') -%>
<div class="main">
	<div class="posts">
		<div class="container">
			<div class="title">
				<p>Blog-Bigbang</p>
				<div>
					<div class="btn btn-success"><a href="/createpost" style="color: white">Create New Post</a></div>
				</div>
			</div>
			<div class="content">
				<table>
					<tr>
						<td>id</td>
						<td>title</td>
						<td>content</td>
						<td>create_at</td>
						<td>update_at</td>
						<td>Action</td>
					</tr>
					<% posts.forEach(function(post) { %>
						<tr>
							<td><%= post.id%></td>
							<td><%= post.title%></td>
							<td><%= post.body%></td>
							<td><%= post.created_at%></td>
							<td><%= post.updated_at%></td>
							<td><button class="btn btn-success"><a style="color: white" href="post/edit/<%= post.id%>">Edit</a></button> <button class="btn btn-danger"><a href="">Delete</a></button></td>
						</tr>
					<% }); %>
				</table>	
			</div>
		</div>
	</div>
</div>