<% layout('../layout/master.ejs') -%>
<div class="main">
    <div class="register">
    	<div class="container">
	    	<div class="row">
	    		<div class="col-xs-6 col-sm-12 col-md-10 col-lg-6 offset-lg-3 offset-md-1">
		    		<div class="form-register">
		    			<h2>Đăng Ký</h2>
		    			<form id="contact-form" class="form" action="/register" method="POST" role="form">
			                <div class="form-group">
			                    <label class="form-label" for="name">Tài Khoản Email</label>
			                    <input type="text" class="form-control" id="email" name="email" tabindex="1" >
			                    <div class="alert alert-danger" style="<%if (!data.error) {%> display: none <%}%>"><%= data.error %></div>
			                    <!-- <div><%= data.error%></div> -->
			                </div>                            
			                <div class="form-group">
			                    <label class="form-label" for="email">Mật Khẩu</label>
			                    <input type="password" class="form-control" id="password" name="password" tabindex="2" >
			                    <p id="require-password">Mật khẩu phải chứa từ 6 - 12 ký tự</p>
			                    <div class="alert alert-danger" style="<%if (!data.pw) {%> display: none <%}%>"><%= data.pw %></div>
			                </div>                            
			                <div class="form-group">
			                    <label class="form-label" for="subject">Nhập Lại Mật Khẩu</label>
			                    <input type="password" class="form-control" id="repassword" name="repassword" tabindex="3">
			                    <div class="alert alert-danger" style="<%if (!data.repw) {%> display: none <%}%>"><%= data.repw %></div>
			                    <div class="alert alert-danger" style="<%if (!data.success) {%> display: none <%}%>"><%= data.success %></div>
			                </div>                            
			                <div class="form-group" id="submit-register">
			                    <button type="submit" class="btn btn-primary btn-block">Đăng Ký</button>
			                </div>
			                <div class="link-login">
			              	    <p>Đã Có Tài Khoản? <a href="{{getenv('APP_URL').'/login'}}">Đăng Nhập</a></p>
			                </div>
					    </form>
		    		</div>
	    		</div>
	    	</div>
		</div>
    </div>
</div>