<footer class="footer">
    <div class="footer-register-letter">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-sm-11 col-md-4 col-lg-4 offset-md-1">
                    <p id="register-letter-title">Đăng Ký Thư</p>
                    <p id="register-letter-content">Nhận Những Tin Nhắn Mới Nhất Từ Chúng Tôi</p>
                </div>
                <div class="col-xs-7 col-md-7 col-lg-7">
                    <form action="">               
                            <input type="text" class="form-search">
                            <button>></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-main">
        <div class="container">
            <div class="footer-main-top" >
                <div class="item" style="width: 84%">
                    <div class="footer-item">
                        <h5 class="text-uppercase">Cung cấp & Sự kiện</h5>
                        <i class="fa fa-chevron-down"></i>
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{getenv('APP_URL').'/event'}}">Đang áp dụng</a>
                        </li>
                        <li>
                            <a href="{{getenv('APP_URL').'/event'}}">Hết hạn</a>
                        </li>
                    </ul>
                </div>

                <div class="item" style="width: 75%">
                    <div class="footer-item">
                        <h5 class="text-uppercase">Cửa hàng</h5>
                        <i class="fa fa-chevron-down"></i>
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Tìm cửa hàng</a>
                        </li>
                        <li>
                            <a href="#!">Chi Tiết Cửa Hàng</a>
                        </li>
                    </ul>
                </div>

                <div class="item">
                    <div class="footer-item">
                        <h5 class="text-uppercase">Về chúng tôi</h5>
                        <i class="fa fa-chevron-down"></i>
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{getenv('APP_URL').'/brand-story'}}">Câu chuyện về thương hiệu</a>
                        </li>
                        <li>
                            <a href="#!">Chiến dịch cuộc sống xanh</a>
                        </li>
                        <li>
                            <a href="#!">Tuyển dụng</a>
                        </li>
                    </ul>
                </div>

                <div class="item" style="width: 74%">
                    <div class="footer-item">
                        <h5 class="text-uppercase">Tài khoản của tôi</h5>
                        <i class="fa fa-chevron-down"></i>
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{getenv('APP_URL').'/history'}}">Lịch sử mua hàng</a>
                        </li>
                        <li>
                            <a href="{{getenv('APP_URL').'/points'}}">Tích điểm</a>
                        </li>
                        <li>
                            <a href="{{getenv('APP_URL').'/history-comments'}}">Kiểm tra</a>
                        </li>
                        <li>
                            <a href="{{getenv('APP_URL').'/my-account'}}">Thông tin cá nhân</a>
                        </li>
                    </ul>
                </div>

                <div class="item" style="width: 77%;">
                    <div id="item-final">
                        <div class="footer-item">
                            <h5 class="text-uppercase">Dịch vụ khách hàng</h5>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <ul class="list-unstyled">
                            <li>
                                <a href="{{getenv('APP_URL').'/question'}}">Hỏi đáp</a>
                            </li>
                            <li>
                                <a href="{{getenv('APP_URL').'/contact'}}">Liên hệ với chúng tôi</a>
                            </li>
                        </ul>
                    </div>
                </div>        
            </div>
            <div class="footer-main-bottom">
                <div class="item" id="footer-icon-social">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter" style="padding: 0 12px;"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
                <div class="item">
                    <div id="footer-text-copyright">Copyright ⓒ 2018 <a href="https://vicoders.com" target="_blank"> Flowers Cosmistic </a>All Rights Reserved         
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>