<header>
    <div class="container" id="container-header">
        <div class="header">
            <div class="left-header" id="top-header">
                <div class="left-header-top">
                <a href="{{getenv('APP_URL').'/'}}"><i class="fa fa-home" style="font-size: 21px;"></i></a>
                    <i class="fas fa-bars" id="menu-down" style="font-size: 19px;padding: 4px 0px 0px 3px;"></i>
                    <form action="" class="form">
                        <button type="submit"><i class="fas fa-search" ></i></button>
                        <input type="text" placeholder="Search" >
                    </form>
                </div>
                <div class="left-header-bottom">
                    <p>
                        Hotline: 1900 1008
                    </p>
                </div>
            </div>

            <div class="between-header">
                <div class="between-header-name">
                    <p>Flowers Cosmistic</p>
                </div>
                <div class="menu">
                    <nav class="navbar navbar-expand-lg navbar-dark" style="padding bottom: 0rem;">
                        <div class="container">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="menu-item nav-item active" id="menu-item-sp">
                                        <a class="nav-link product_link">SẢN PHẨM</a>
                                    </li>
                                    <li class="menu-item nav-item active">
                                        <a class="nav-link" href="">ƯU ĐÃI VÀ SỰ KIỆN</a>
                                    </li>
                                    <li class="menu-item nav-item active">
                                        <a class="nav-link" href="">VỀ CHÚNG TÔI</a>
                                    </li>
                                    <li class="menu-item nav-item active">
                                    <a class="nav-link " href="">LIÊN HỆ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                     </nav>
                </div>
            </div>

            <div class="right-header">
                <div class="right-header-top">
                    <a href=""><i class="fas fa-shopping-cart"></i></a>
                    <a href=""><i class="fas fa-globe" id="icon-world"></i></a>
                </div>
                <div class="right-header-bottom">
                    <a href="/login">Đăng Nhập /</a>
                    <a href="/register">Đăng Ký</a>
                </div>
            </div>
        </div>

    </div>
        <div class="main-nav-menu">
            <div class="login-resister">
                <button><a href="/login">ĐĂNG NHẬP</a></button>
                <button><a href="/register">ĐĂNG KÝ</a></button>
            </div>
            <div class="menu-item">
                <ul>
                    <li><a href="">TRANG cHỦ</a></li>
                    <li ><a id="item-detail-sp"><span>SẢN PHẨM</span><i class="fas fa-chevron-down"></i></a>
                        <ul>
                            <li><a id="item-mask-sp"><span>MASK</span><i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <li>Wash-off Masks (15)</li>
                                    <li>Sheet Masks (26)</li>
                                    <li>Sleeping Masks (11)</li>
                                    <li>Others (5)</li>
                                </ul>
                            </li>
                            <li><a id="item-cleaners-sp"><span>Cleansers</span><i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <li>Foaming Cleanser (10))</li>
                                    <li>Cleansing Oil (1)</li>
                                    <li>Others (12))</li>
                                </ul>
                            </li>
                            <li><a id="item-moisturisers-sp"><span>MOISTURISERS (30)</span><i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <li>Moisturizer (8)</li>
                                    <li>Cream (13)</li>
                                    <li>Oil & Mist (8)</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="">ƯU ĐÃI VÀ SỰ KIỆN</a></li>
                    <li><a href="">VỀ CHÚNG TÔI</a></li>
                    <li><a href="">LIÊN HỆ</a></li>
                    <li id="hotline"><span>Hotline: <strong>1900 1008</strong></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="nav-down">
        <div class="nav-down-sp" id="nav-down-sp">
            <div class="container nav-item">
                <div class="row">
                    <div class="col-md-9">
                        <div class="container">
                            <div class="row menu-item">
                                <div class="col-md-4">
                                    <div>
                                        <div class="title">
                                            <p >Mask</p>
                                        </div>
                                        <ul>
                                            <li><a href="">Wash-off Masks (15)</a></li>
                                            <li><a href="">Sheet Masks (26)</a></li>
                                            <li><a href="">Sleeping Masks (11)</a></li>
                                            <li><a href="">Others (5)</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <div class="title">
                                            <p>Cleansers</p>
                                        </div>
                                        <ul>
                                            <li><a href="">Wash-off Masks (15)</a></li>
                                            <li><a href="">Sheet Masks (26)</a></li>
                                            <li><a href="">Sleeping Masks (11)</a></li>
                                            <li><a href="">Others (5)</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <div class="title">
                                            <p >MOISTURISERS (30)</p>
                                        </div>
                                        <ul>
                                            <li><a href="">Wash-off Masks (15)</a></li>
                                            <li><a href="">Sheet Masks (26)</a></li>
                                            <li><a href="">Sleeping Masks (11)</a></li>
                                            <li><a href="">Others (5)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="hightlights-menu-item">
                            <ul><a href="">Lễ hội giáng sinh</a></ul>
                            <ul style="width: 100%;text-align: center;" ><a href="">Sản phẩm tốt nhất</a></ul>
                            <ul style="width: 88%;text-align: right;"><a href="">Khuyến mãi</a></ul>
                        </div>
                    </div>
                    <div class="col-md-3 event">
                        <div class="festival-merry">
                            <!-- <img src="assets/images/header/merry.png" alt=""> -->
                            <div class="tag_merry">
                                <p style="color: black;">#LeHoiGiangSinh</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</header>