<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script src="/static/js/app.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> -->
  
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
    <!-- script(type='text/javascript', src='./jquery-1.5.2.min.js'); -->
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <script>tinymce.init({ selector:'textarea' });</script>
</head>

<body>
    <% include header -%>
    <section>
        <%-body -%>
    </section>
    <% include footer -%>
<!--     <script>
        
        $(document).ready(function(){
            console.log("My Kit is ready :)");
        });
    </script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('localhost:3080');

        socket.on("connect",function(e){
            var username = prompt("What is your name");
            socket.emit("addUser",username);

            socket.on("notify_new_member",function(data){
                console.log(data);
                $('.roomchat').append('<div style="padding-left: 9px;"><span>'+data.server+':</span>'+'<span style="color:#AA0000">'+data.notify+'</span></div>');
            })

            $("#btn-send").click(function(){
                var message = $("#message").val();
                $('#message').val("");
                // console.log(message);
                socket.emit("new_message",message);
            })

            $("#message").keypress(function(e){
                if(e.which == 13){
                    $("#btn-send").trigger("click");
                    $('#message').val("");
                }
            })

            socket.on("notify_new_message",function(data){
                console.log(data);
                if(data.user === "you")
                {
                    $('.roomchat').append('<div style="padding-left: 9px;"><span>'+data.user+':</span>'+'<span style="color:#AA0000">'+data.message+'</span></div>');
                }
                else{
                    $('.roomchat').append('<div style="text-align:right;padding-right: 9px;"><span>'+data.user+':</span>'+'<span style="color:#AA0000">'+data.message+'</span></div>');
                }
            })
        })

    </script>
</body>

</html>